<h1 style="color: #00e500;" *ngIf="data.res.status" mat-dialog-title><mat-icon class="matIconForResultModal" style="float: left;">check_circle</mat-icon>SUCCESS</h1>
<h2 style="color: #f44336;" *ngIf="!data.res.status" mat-dialog-title><mat-icon class="matIconForResultModal" style="float: left;">report_problem</mat-icon>ERROR</h2>
<mat-divider></mat-divider>
<div  style="text-align: center;" mat-dialog-content>
  <p *ngIf="data.res.status">Match Details Saved Successfully.</p>
  <p *ngIf="!data.res.status">Something went wrong.</p>
  <!-- <p *ngIf="!data.IsValid">Validation Error occured.</p> -->
</div>

<div  mat-dialog-actions>  
  <button style="margin: 0 auto;"  mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>OK</button>
</div>